    <div class="navbar navbar-inverse navbar-fixed-top site-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Oakinstream", "Index", "Home", new { area = "" }, new { @class = "navbar-brand site-navbar-big-text" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav site-navbar-text" style="color:white;">
                <li>@Html.ActionLink("About", "Index", "About")</li>
                <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>