@model IEnumerable<Oakinstream.Models.HomeImage>

@{
    ViewBag.Title = "Home Images";
}

<div class="container text-center">
    <div class="row">
        <div class="col-md-12  NormalBorder-Bottom">
            <br />
            <h1 class="text-primary"><strong>@ViewBag.Title</strong></h1>
        </div>
    </div>
    <a href="@Url.Action("Index", "Admin")" class="text-primary">Back to admin</a>
    <br />
    <div class="row">
        <div class="btn" style="width:30%;">
            <span class="glyphicon glyphicon-plus"></span>
            <a href="@Url.Action("Upload", "HomeImages")" class="btn btn-success" style="width:50%;">Add a image</a>
        </div>
    </div>
    <hr />

    @{
        var itemcounter = 0;
        foreach (var item in Model)
        {
            itemcounter++;
        }
    }

    @if (itemcounter != 0)
    {
    <div class="jumbotron col-md-12 NormalBorder">
        <h2 class="text-primary">@Html.DisplayNameFor(model => model.First().FileName):</h2>
        <hr />
        @foreach (var item in Model)
        {
        <div class="row">
            <div class="col-md-1 text-left">
                <h4><strong>Header:</strong></h4>
                <hr />
                <h4><strong>Caption:</strong></h4>
                <br />
                <h4><strong>Link:</strong></h4>
            </div>
            <div class="col-md-4 text-left">
                <h4>@item.ImageHeader</h4>
                <hr />
                <h4>@item.ImageCaption</h4>
                <br />
                <h4><a href="@item.ImageLink">@item.ImageLink</a></h4>
            </div>
            <div class="col-md-5 text-left">
                <img src="@Url.Content(Constants.HomeThumbnailPath+item.FileName)" alt="@item.FileName" title="@item.FileName" />
            </div>
            <div class="col-md-2 text-center">
                <a class="btn btn-info " href="@Url.Action("Edit", "HomeImages", new { id = item.ID })" style="cursor:pointer;"><span class="glyphicon glyphicon-edit"></span></a>
                <a class="btn btn-danger " href="@Url.Action("Delete", "HomeImages", new { id = item.ID })" style="cursor:pointer;"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </div>
            <hr />
        }
    </div>
    }
</div>


