@model IEnumerable<Oakinstream.Models.HomeImage>

@{
    ViewBag.Title = "Home Images";
}

<div class="container homeimages-container">
    <div class="row homeimages-header">
        <div class="col-md-12">
            <h1 class="text-uppercase"><span class="homeimages-title">@ViewBag.Title</span></h1>
        </div>
        <div class="btn">
            <a class="btn site-btn-back" href="@Url.Action("Index", "Admin")"><span class="glyphicon glyphicon-backward"></span> Back to admin</a>
        </div>
    </div>

    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="btn">
            <a class="btn btn-success site-btn-create" href="@Url.Action("Upload", "HomeImages")"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    }

    @{
        var itemcounter = 0;
        foreach (var item in Model)
        {
            itemcounter++;
        }
    }

    @if (itemcounter != 0)
    {
        <div class="jumbotron homeimages-jumbotron">
            <h2 class="homeimages-text">@Html.DisplayNameFor(model => model.First().FileName):</h2>
            <hr />
            @foreach (var item in Model)
            {
            <div class="row">
                <div class="homeimages-jumbotron-half text-left">
                    <h4 class="homeimages-text">HEADER:</h4>
                    <br />
                    <h4 class="homeimages-text">CAPTION:</h4>
                    <br />
                    <h4 class="homeimages-text">LINK:</h4>
                </div>
                <div class="homeimages-jumbotron-half text-left">
                    <h4 class="homeimages-text"> @item.ImageHeader</h4>
                    <br />
                    <h4 class="homeimages-text"> @item.ImageCaption</h4>
                    <br />
                    <h4 class="homeimages-text"> <a href="@item.ImageLink">@item.ImageLink</a></h4>
                </div>
                <div class="homeimages-jumbotron-half">
                    <img class="homeimages-image" src="@Url.Content(Constants.HomeThumbnailPath+item.FileName)" alt="@item.FileName" title="@item.FileName" />
                </div>
                <div class="homeimages-jumbotron-half">
                    <a class="btn btn-info site-btn-edit" href="@Url.Action("Edit", "HomeImages", new { id = item.ID })" style="cursor:pointer;"><span class="glyphicon glyphicon-edit"></span></a>
                    <a class="btn btn-danger site-btn-delete" href="@Url.Action("Delete", "AboutFiles", new { id = item.ID })" style="cursor:pointer"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </div>
            }
        </div>
    }
</div>


