@model IEnumerable<Oakinstream.Models.Home>

<div class="container home-container">
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @foreach (var item in Model.First().HomeImagesMappings)
                {
                    <li data-target="#myCarousel" data-slide-to="@item.ImageNumber" class="active"></li>
                }
            </ol>
            <div class="carousel-inner home-slider">
                @foreach (var item in Model.First().HomeImagesMappings)
                {
                    if (item.ImageNumber == 0)
                    {
                        <div class="item active">
                            <a href="@item.HomeImage.ImageLink"><img src="@Url.Content(Constants.HomeImagePath + item.HomeImage.FileName)" alt="@item.HomeImage.FileName" style="width:100%;"></a>
                            <div class="carousel-caption">
                                <h3>@item.HomeImage.ImageHeader</h3>
                                <p>@item.HomeImage.ImageCaption</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <a href="@item.HomeImage.ImageLink"><img src="@Url.Content(Constants.HomeImagePath + item.HomeImage.FileName)" alt="@item.HomeImage.FileName" style="width:100%;"></a>
                            <div class="carousel-caption">
                                <h3>@item.HomeImage.ImageHeader</h3>
                                <p>@item.HomeImage.ImageCaption</p>
                            </div>
                        </div>
                    }

                }
            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="row home-slider-footer">
        </div>
    </div>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        foreach (var edit in Model)
        {
            <a class="btn btn-info site-btn-edit" href="@Url.Action("Edit", "Home", new { id = edit.ID })" style="cursor:pointer;"><span class="glyphicon glyphicon-edit"></span></a>
        }
    }
    <div class="row">
        <div class="col-md-4 home-info">
            <div class="home-infobox">
                <h3 class="home-text">@Html.DisplayFor(model => model.First().Info1)</h3>
            </div>
            <div class="btn">
                <a class="btn home-btn-read-more" href="@Url.Action("Index", "Blog")"><span class="glyphicon glyphicon-book"></span> Read More</a>
            </div>
        </div>
        <div class="col-md-4 home-info">
            <div class="home-infobox">
                <h3 class="home-text">@Html.DisplayFor(model => model.First().Info2)</h3>
            </div>
            <div class="btn">
                <a class="btn home-btn-read-more" href="@Url.Action("Index", "Blog")"><span class="glyphicon glyphicon-book"></span> Read More</a>
            </div>
        </div>
        <div class="col-md-4 home-info">
            <div class="home-infobox">
                <h3 class="home-text">@Html.DisplayFor(model => model.First().Info3)</h3>
            </div>
            <div class="btn">
                <a class="btn home-btn-read-more" href="@Url.Action("Index", "Blog")"><span class="glyphicon glyphicon-book"></span> Read More</a>
            </div>
        </div>
        <div class="col-md-12 jumbotron home-jumbotron">
            <canvas class="home-canvas" height="500" width="500" id="canvasLayer1"></canvas>
        </div>
    </div>
</div>
