@model IEnumerable<Oakinstream.Models.ProjectFile>

@{
    ViewBag.Title = "Project Files";
}

<div class="container projectfiles-container">
    <div class="row projectfiles-header">
        <div class="col-md-12">
            <h1 class="text-primary"><span class="projectfiles-title">@ViewBag.Title</span></h1>
        </div>
        <div class="btn">
            <a class="btn projectfiles-btn-back" href="@Url.Action("Index", "Admin")"><span class="glyphicon glyphicon-backward"></span> Back to admin</a>
        </div>
    </div>

    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="btn">
            <a class="btn btn-success site-btn-create" href="@Url.Action("Upload", "ProjectFiles")"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    }

    @{
        var itemcounter = 0;
        foreach (var item in Model)
        {
            itemcounter++;
        }
    }

    @if (itemcounter != 0)
    {
        <div class="jumbotron projectfiles-jumbotron">
            <h2 class="projectfiles-text">@Html.DisplayNameFor(model => model.First().FileName):</h2>
            <br />
            @foreach (var item in Model)
            {
                <a class="btn btn-default site-btn-file" href="@Url.Content(Constants.ProjectFilePath + Html.DisplayFor(modelItem => item.FileName))"><span class="glyphicon glyphicon-file"></span> @Html.DisplayFor(modelItem => item.FileName)</a>
                <a class="btn btn-danger site-btn-delete" href="@Url.Action("Delete", "ProjectFiles", new { id = item.ID })"><span class="glyphicon glyphicon-trash"></span></a>
                <br />
            }
        </div>
    }
</div>
