@model Oakinstream.Models.ProjectFile

@{
    ViewBag.Title = "Upload Files";
}

<div class="container projectfiles-container">
    <div class="row projectfiles-header">
        <div class="col-md-12">
            <h1 class="text-uppercase"><span class="projectfiles-title">@ViewBag.Title</span></h1>
        </div>
        <div class="btn">
            <a class="btn projectfiles-btn-back" href="@Url.Action("Index", "ProjectFiles")"><span class="glyphicon glyphicon-backward"></span> Back to List</a>
        </div>
    </div>

    @using (Html.BeginForm("Upload", "ProjectFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="jumbotron site-border-normal-left projectfiles-jumbotron">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-12">
                    <div class="projectfiles-jumbotron-text">
                        <h3 class="projectfiles-text"><span class="glyphicon glyphicon-file"></span> @Html.LabelFor(model => model.FileName):</h3>
                    </div>
                    <div class="projectfiles-jumbotron-input">
                        <input type="file" name="files" id="files" multiple="multiple" class="site-form-file btn-default" accept=".pdf,.odt,.doc,.txt" />
                        @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                    </div>
                    <div class="projectfiles-jumbotron-submit">
                        <input type="submit" value="Add >>" class="btn btn-default site-form-height" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
