@model Oakinstream.Models.CheckingAccount

@{
    ViewBag.Title = "Create";
}

<div class="container text-center">
    <div class="row">
        <div class="col-md-12  NormalBorder-Bottom">
            <br />
            <h1 class="text-primary"><strong>@ViewBag.Title</strong></h1>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "List")
    </div>
    <br />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="jumbotron Margin-Top-20 NormalBorder">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-4 text-right">
                    <h4><span class="glyphicon glyphicon-user"></span> @Html.LabelFor(model => model.AccountNumber):</h4>
                </div>
                <div class="col-md-8 NormalBorder-Left text-left">
                    @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "FormBox" } })
                    @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4 text-right">
                    <h4><span class="glyphicon glyphicon-user"></span> @Html.LabelFor(model => model.FirstName):</h4>
                </div>
                <div class="col-md-8 NormalBorder-Left text-left">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "FormBox" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4 text-right">
                    <h4><span class="glyphicon glyphicon-user"></span> @Html.LabelFor(model => model.LastName):</h4>
                </div>
                <div class="col-md-8 NormalBorder-Left text-left">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "FormBox" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Create" class="btn btn-success FormBtn" />
                </div>
            </div>
            <br />
        </div>
    }
</div>