@model IEnumerable<Oakinstream.Models.BlogImage>

@{
    ViewBag.Title = "Blog Images";
}

<div class="container blogimages-container">
    <div class="row blogimages-header">
        <div class="col-md-12">
            <h1 class="text-uppercase"><span class="blogimages-title">@ViewBag.Title</span></h1>
        </div>
        <div class="btn">
            <a class="btn site-btn-back" href="@Url.Action("Index", "Admin")"><span class="glyphicon glyphicon-backward"></span> Back to admin</a>
        </div>
    </div>

    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="btn">
            <a class="btn btn-success site-btn-create" href="@Url.Action("Upload", "BlogImages")"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    }

    @{
        var itemcounter = 0;
        foreach (var item in Model)
        {
            itemcounter++;
        }
    }

    @if (itemcounter != 0)
    {
        <div class="jumbotron blogimages-jumbotron">
            <h2 class="blogimages-text">@Html.DisplayNameFor(model => model.First().FileName):</h2>
            <hr />
            @foreach (var item in Model)
            {
                <a class="btn btn-danger site-btn-delete" href="@Url.Action("Delete", "BlogImages", new { id = item.ID })" style="margin-left:250px;"><span class="glyphicon glyphicon-remove"></span></a>
                <br />
                <img class="blogimages-image" src="@Url.Content(Constants.BlogThumbnailPath+item.FileName)" alt="@item.FileName" title="@item.FileName" />
                <hr />
            }
        </div>
    }
</div>


