@model Oakinstream.Models.Project

@{
    ViewBag.Title = Html.DisplayFor(@model => model.Name);
}

<div class="container text-center Margin-Top-20">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-primary text-uppercase"><strong>@ViewBag.Title</strong></h1>
        </div>
        <hr />
        <p>
            <h3 class="text-muted text-uppercase">Category: @Html.DisplayFor(model => model.ProjectCategory.Name)</h3>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) @Html.Raw(" |")
            }
            @Html.ActionLink("Back to Projects", "Index")
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            @if (Model.ProjectImage != null)
            {
                <a href="@Url.Action("Details", new { id = Model.ID })" style="text-decoration:none;">
                    <img class="NormalBorder" src="@Url.Content(Constants.ProjectThumbnailPath + Model.ProjectImage.FileName)" alt="@Model.ProjectImage.FileName" title="@Model.ProjectImage.FileName" />
                </a>
            }
            else
            {
                <img class="NormalBorder" src="@Url.Content(Constants.ProjectThumbnailPath + "ProjectDefault.png")" alt="Default" title="ProjectDefault.png" />
            }
        </div>
    </div>
    <br />
</div>

@{ 
    var DescLength = @Html.DisplayFor(model => model.Description.Length);
    var DescToDec = Convert.ToDecimal(DescLength.ToString());
    var Cols = 100;
    var Rows = Convert.ToInt32(DescToDec / Cols);
}

<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="well Width-80 Margin-Auto ">
                <h1 class="text-info text-uppercase" style="text-decoration:underline;">Description:</h1>
                <br />
                @if (Rows < 50)
                {
                    <textarea class="ProjectDescription" readonly rows="@Rows" cols="@Cols">@Html.DisplayFor(model => model.Description)</textarea>
                }
                else
                {
                    <textarea class="ProjectDescription" readonly rows="50" cols="@Cols">@Html.DisplayFor(model => model.Description)</textarea>
                }
                <hr />
                @if (Request.IsAuthenticated && User.IsInRole("Admin")) { 
                    <p><strong>Created by: @Html.DisplayFor(model => model.CreatedBy) - @Html.DisplayFor(model => model.CreatedDate)</strong></p>
                    if (Model.UpdatedBy != null)
                    {
                        <p><strong>Updated by: @Html.DisplayFor(model => model.UpdatedBy) - @Html.DisplayFor(model => model.UpdatedDate)</strong></p>
                    }
                }
            </div>
        </div>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="col-md-12">
                <div class="well Width-80 Margin-Auto Margin-Top-10">
                    <h1>Files:</h1>
                    <div class="btn-group-justified">
                        @foreach (var file in Model.ProjectFileMappings)
                        {
                        <a class="btn btn-default" href="@Url.Content(Constants.ProjectFilePath + file.ProjectFile.FileName)" style="cursor:pointer"><span class="glyphicon glyphicon-file"></span> @file.ProjectFile.FileName</a>
                        }
                    </div>
                </div>
            </div>
        }
        @* --------Adding Comments Later--------
            <div class="col-md-12">
                <div class="well Width-80 Margin-Auto NormalBorder Margin-Top-10">
                    <h1>Write a comments:</h1>
                    <textarea class="ProjectComments NormalBorder" rows="1"></textarea>
                </div>
            </div>
        *@
    </div>
</div>