@model IEnumerable<Oakinstream.Models.ProjectCategory>

@{
    ViewBag.Title = "Project Categorys";
}

<div class="container projectcategory-container">
    <div class="row projectcategory-header">
        <div class="col-md-12">
            <h1 class="text-uppercase"><span class="projectcategory-title">@ViewBag.Title</span></h1>
        </div>
        <div class="btn">
            <a class="btn projectcategory-btn-back" href="@Url.Action("Index", "Admin")"><span class="glyphicon glyphicon-backward"></span> Back to admin</a>
        </div>
    </div>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="btn">
            <a class="btn btn-success site-btn-create" href="@Url.Action("Create", "ProjectCategory")"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    }

    @{
        var itemcounter = 0;
        foreach (var item in Model)
        {
            itemcounter++;
        }
    }

    @if (itemcounter != 0)
    {
        <div class="jumbotron projectcategory-jumbotron">
            <h2 class="projectcategory-text">@Html.DisplayNameFor(model => model.Name):</h2>
            <br />
            @foreach (var item in Model)
            {
            <h3 class="projectcategory-text">@Html.DisplayFor(modelItem => item.Name) <a class="btn btn-danger" href="@Url.Action("Delete", "ProjectCategory", new { id = item.ID })"><span class="glyphicon glyphicon-trash"></span></a></h3>
            }
        </div>
    }
</div>

