@model Oakinstream.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="container account-container">
    <div class="row account-header">
        <div class="col-md-12">
            <h1 class="text-primary"><span class="account-title">@ViewBag.Title</span></h1>
        </div>
        <div class="btn">
            <a class="btn account-btn-back" href="@Url.Action("Index", "Manage")"><span class="glyphicon glyphicon-backward"></span> Back to Manage</a>
        </div>
    </div>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

    <div class="jumbotron site-border-normal account-jumbotron">
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-12">
                <div class="account-jumbotron-text text-right">
                    <h4 class="account-text"><span class="glyphicon glyphicon-user"></span> @Html.LabelFor(model => model.OldPassword):</h4>
                </div>
                <div class="account-jumbotron-input text-left">
                    @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { @class = "site-form" } })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="account-jumbotron-text text-right">
                    <h4 class="account-text"><span class="glyphicon glyphicon-user"></span> @Html.LabelFor(model => model.NewPassword):</h4>
                </div>
                <div class="account-jumbotron-input text-left">
                    @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "site-form" } })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="account-jumbotron-text text-right">
                    <h4 class="account-text"><span class="glyphicon glyphicon-user"></span> @Html.LabelFor(model => model.ConfirmPassword):</h4>
                </div>
                <div class="account-jumbotron-input text-left">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "site-form" } })
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Change password" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}