@model Oakinstream.ViewModels.AboutViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AboutImageID, "AboutImage", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(vm => vm.AboutImageID, Model.AboutImageList, "Choose Image", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AboutImageID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">File 1 </label>
            <div class="col-md-10">
                @Html.DropDownListFor(vm => vm.AboutFiles, Model.FileList[0], "Choose File", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AboutFiles, "", new { @class = "text-danger" })
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#Files" style="">Add more files</button>
            </div>
        </div>


        <div id="Files" class="collapse">
            @for (int i = 1; i < Model.FileList.Count; i++)
            {
                <div class="form-group">
                    <label class="control-label col-md-2">File @(i + 1): </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(vm => vm.AboutFiles, Model.FileList[i], "Choose File", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AboutFiles, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Info1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Info1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Info1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Info2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Info2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Info2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Info3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Info3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Info3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
