@model Oakinstream.Models.Contact

@{
    ViewBag.Title = "Contact";
}

<div class="container contact-container">
    <div class="row contact-header">
        <div class="col-md-12">
            <h1 class="text-uppercase"><span class="contact-title">@ViewBag.Title</span></h1>
            <br />
            <h2> I'm happy to answer any questions you have! <span class="glyphicon glyphicon-thumbs-up"></span></h2>
            <br />
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="jumbotron site-border-normal contact-jumbotron">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-12">
                    <div class="contact-jumbotron-half site-border-normal-right">
                        <h3>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "site-forms-contact", @placeholder = "Name" } })
                            <br />
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </h3>
                    </div>
                    <div class="contact-jumbotron-half">
                        <h3 class="contact-text"><span class="glyphicon glyphicon-user "></span>[My Name here]</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="contact-jumbotron-half site-border-normal-right">
                        <h3>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "site-forms-contact", @placeholder = "Email" } })
                            <br />
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </h3>
                    </div>
                    <div class="contact-jumbotron-half">
                        <h3 class="contact-text"><span class="glyphicon glyphicon-map-marker "></span>[My Adress Here]</h3>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="contact-jumbotron-half site-border-normal-right">
                        <h3>
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "site-forms-contact", @placeholder = "Subject" } })
                            <br />
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </h3>
                    </div>
                    <div class="contact-jumbotron-half">
                        <h3 class="contact-text"><span class="glyphicon glyphicon-phone "></span>[My Number Here]</h3>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="contact-jumbotron-half site-border-normal-right">
                        <h3>
                            @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "site-forms-contact", @placeholder = "Message", @rows = "5" } })
                            <br />
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </h3>
                    </div>
                    <div class="contact-jumbotron-half">
                        <h3 class="contact-text"><span class="glyphicon glyphicon-envelope "></span>[My Email Here]</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-jumbotron-half site-border-normal-right">
                        <input type="submit" value="Send" class="btn btn-default site-btn-file" style="width:100%;" />
                    </div>
                </div>
            </div>
            @if (ViewData["Error"] != null)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-jumbotron-half site-border-normal-right">
                            <h3 class="text-warning">@ViewData["Error"].ToString()</h3>
                        </div>
                    </div>
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-jumbotron-half site-border-normal-right">
                            <h3 class="text-success">@TempData["Success"].ToString()</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

