@model IEnumerable<Oakinstream.Models.Contact>

@{
    ViewBag.Title = "Contact Messages";
}

<div class="container contact-list-container">
    <div class="row contact-header">
        <div class="col-md-12">
            <h1 class="text-uppercase"><span class="contact-title">@ViewBag.Title</span></h1>
        </div>
        <div class="btn">
            <a class="btn contact-btn-back" href="@Url.Action("Index", "Admin")"><span class="glyphicon glyphicon-backward"></span> Back to admin</a>
        </div>
    </div>

    @{
        var itemcounter = 0;
        foreach (var item in Model)
        {
            itemcounter++;
        }
    }

    @if (itemcounter != 0)
    {
        <div class="jumbotron contact-jumbotron">

            <h1 class="text-uppercase"><span class="contact-text">Messages:</span></h1>
            <hr />

            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="contact-text"><span class="glyphicon glyphicon-user"></span><strong> @Html.DisplayFor(model => item.Name)</strong></h2>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="contact-text"><span class="glyphicon glyphicon-envelope"></span> <strong><a class="contact-text" href="mailto:@Html.DisplayFor(model => item.Email)" target="_top">@Html.DisplayFor(model => item.Email)</a></strong></h2>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="contact-text"><strong style="text-decoration:underline">@Html.DisplayFor(model => item.Subject)</strong></h2>
                        <br />
                        <textarea rows="10" cols="60" readonly style="resize:none; text-align:center; max-width:none; border: 2px solid black;">@Html.DisplayFor(model => item.Message)</textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-danger site-btn-delete-big" href="@Url.Action("Delete", "Contact", new { id = item.ID })" style="width:250px;"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
                <hr />
            }
        </div>
     }
</div>