@model Oakinstream.Models.AboutImage

@{
    ViewBag.Title = "Upload";
}

<div class="container aboutimages-container">
    <div class="row aboutimages-header">
        <div class="col-md-12 ">
            <h1 class="text-uppercase"><span class="aboutimages-title">@ViewBag.Title</span></h1>
        </div>
        <div class="btn">
            <a class="btn site-btn-back" href="@Url.Action("Index", "AboutImages")"><span class="glyphicon glyphicon-backward"></span> Back to List</a>
        </div>
    </div>

    <div class="jumbotron site-border-normal aboutfiles-jumbotron">
        @using (Html.BeginForm("Upload", "AboutImages", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-3 text-right">
                    <h3 class="aboutimages-text"><span class="glyphicon glyphicon-picture"></span>  @Html.LabelFor(model => model.FileName):</h3>
                </div>
                <div class="col-md-6 site-border-normal-left text-left">
                    <input type="file" name="files" id="files" multiple="multiple" class="site-form-file btn-default" accept=".png,.jpg,.jpeg,.gif" />
                    @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3 text-left">
                    <input type="submit" value="Add >>" class="btn btn-default site-form-height" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
