@model IEnumerable<Oakinstream.Models.BlogCategory>

@{
    ViewBag.Title = "Blog Categorys";
}

<div class="container text-center">
    <div class="row">
        <div class="col-md-12  NormalBorder-Bottom">
            <br />
            <h1 class="text-primary"><strong>@ViewBag.Title</strong></h1>
        </div>
    </div>
    <a href="@Url.Action("Index", "Admin")" class="text-primary">Back to admin</a>
    <br />
    <div class="row">
        <div class="btn" style="width:30%;">
            <span class="glyphicon glyphicon-plus"></span>
            <a href="@Url.Action("Create", "BlogCategory")" class="btn btn-success" style="width:50%;">Add a file</a>
        </div>
    </div>
    <hr />

    @{
        var itemcounter = 0;
        foreach (var item in Model)
        {
            itemcounter++;
        }
    }

    @if (itemcounter != 0)
    {
        <div class="jumbotron col-md-12 NormalBorder">
            <h2 class="text-primary">@Html.DisplayNameFor(model => model.Name):</h2>
            <hr />
            @foreach (var item in Model)
            {
            <p>
                @Html.DisplayFor(modelItem => item.Name)
                <a class="btn btn-danger" href="@Url.Action("Delete", "BlogCategory", new { id = item.ID })" style="cursor:pointer"><span class="glyphicon glyphicon-trash"></span></a>
            </p>    
            <hr />
            }
        </div>
    }
</div>

