@model IEnumerable<Oakinstream.Models.BlogCategory>

@{
    ViewBag.Title = "Blog Categorys";
}

<div class="container blogcategory-container">
    <div class="row blogcategory-header">
        <div class="col-md-12">
            <h1 class="text-uppercase"><span class="blogcategory-title">@ViewBag.Title</span></h1>
        </div>
        <div class="btn">
            <a class="btn site-btn-back" href="@Url.Action("Index", "Admin")"><span class="glyphicon glyphicon-backward"></span> Back to admin</a>
        </div>
    </div>

    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="btn">
            <a class="btn btn-success site-btn-create" href="@Url.Action("Create", "BlogCategory")"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    }

    @{
        var itemcounter = 0;
        foreach (var item in Model)
        {
            itemcounter++;
        }
    }

    @if (itemcounter != 0)
    {
        <div class="jumbotron blogcategory-jumbotron">
            <h2 class="blogcategory-text">@Html.DisplayNameFor(model => model.Name):</h2>
            <hr />
            @foreach (var item in Model)
            {
                <h2 class="blogcategory-text">@Html.DisplayFor(modelItem => item.Name) <a class="btn btn-danger site-btn-delete" href="@Url.Action("Delete", "BlogCategory", new { id = item.ID })"><span class="glyphicon glyphicon-trash"></span></a></h2>
                <hr />
            }
        </div>
    }
</div>

